@import "reset"

body
  font-family: "Ubuntu", serif
  padding: 4pt

  h1
    font-size: 16pt
    font-weight: 400
    margin: 8pt 0 16pt 0
    border: none

  .days, .weekdays
    display: flex
    align-content: stretch


    li.prefix
      border: .1pt solid lightgray
      color: gray

    li.header
      flex: 5 5

    li
      flex: 1 1
      border: .1pt solid black
      list-style: none
      text-align: center
      height: 2em
      line-height: 2em

    li.weekend
      background-color: #ddd
