doctype html
html
  head
    title= title
    link(type='text/css', rel='stylesheet', href='habits.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap')
block body
